.navbar-FA {
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    background-color: #F8F8F8;
}

.color-text-logo-FA {
    color: #2D2D2D;
    font-weight: 900;
    font-size: 12px;
  }
  
.navbar-space-FA {
    padding-left: 14%;
    padding-right: 14%;
}
  
.color-options-menu-FA {
    color: #2D2D2D !important;
    font-size: 14px;
    font-weight: 650;    
}

.navbar-buscador-FA {
    background-color: #202020;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.texto-buscador-FA {
    color: white;
    font-size: 33px;
    font-weight: 400;
}

.background-navbar-info-FA{
    width: 100%;
    padding: 25px;
    background-color: #F8F8F8;
}

.texto-informes-FA{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: #2D2D2D;
}

.texto-cards-FA{
    text-align: center;
    font-size: 17px;
    color: #2D2D2D;
}

.cards-FA{
    border-style: solid;
    border-radius: 12px;
    border-color: #2D2D2D;
}

.imagen-card-FA{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

a, a:visited {
    color: #1473e6;
    text-decoration: none;
}

.background-ayuda-FA{
    width: 80%;
    padding: 20px;
    background-color: #F8F8F8;
}

.textos-titulos{
    color: #2D2D2D; 
    font-size: 35px;
}

.space-li {
    margin-bottom: 15px;
}

.tamaño-imagen-icons {
    width: 45px;
    height: 45px;
}

.texto-icons {
    word-wrap: break-word;
    line-height: 14px;
    font-size: 11px;
    color: #333;
    font-weight: bold;
    margin-top: 8px;
}

.contenedor{
    list-style: none;
    /*margin: 0;
    padding: 0;
    float: left;
    height: 92px;*/
}

.producto-container{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    position: relative;
    height: 92px;
}

.footer-FA {
    background-color: #202020;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.texto-sub-footer-FA{
    font-size: 11px;
    line-height: 20px;
    color: white;
}


