.textos-titulos{
    color: #2D2D2D; 
    font-size: 35px;
}

.space-li {
    margin-bottom: 15px;
}

.tamaño-imagen-icons {
    width: 45px;
    height: 45px;
}

.texto-icons {
    word-wrap: break-word;
    line-height: 14px;
    font-size: 11px;
    color: #333;
    font-weight: bold;
    margin-top: 8px;
}

.contenedor{
    list-style: none;
    /*margin: 0;
    padding: 0;
    float: left;
    height: 92px;*/
}

.producto-container{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    position: relative;
    height: 92px;
}

.footer-FA {
    background-color: #202020;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.texto-sub-footer-FA{
    font-size: 11px;
    line-height: 20px;
    color: white;
}


