.page-title  {
    margin: 0;
    padding: 4px 48px 6px 0;
    font-size: 36px;
    line-height: 1.15;
    font-weight: 500;
    text-align: left;
    color:  white;
    background-repeat: no-repeat;
    background-size: 32px auto;
    background-position: 0 10px;
}

.barra-negra {
    background: #202020; 
    padding-top: 1%; 
    padding-bottom: -.2%; 
    padding-left: 70px; 
    padding-right: 70px;
}

.page-description {
    font-size: 21px;
    color: 
    #666;
    margin: 10px 0 30px 0;
        margin-bottom: 30px;
    line-height: 1.4;
}

.contenido {
    margin-top: 3.5%; 
    padding-left: 70px; 
    padding-right: 70px;
}

.text-descargar {
    font-size: 2rem;
    line-height: 1em;
    margin: 40px 0 20px 0;
        margin-right: 0px;
    padding: 20px 0 0 0;
        padding-right: 0px;
    border-top: solid 1px
    #ddd;
    color: #333;
}

@media only screen and (max-width: 1015px) {
  .contenido {
    margin-top: 4%; 
  } 
  .page-description {
    font-size: 18px;
  }
  .page-title {
    font-size: 1.5rem
  }

  .text-descargar {
      font-size: 24px;
  }
}