.barra{
background: #202020; 
padding-top: 1%; 
padding-bottom: -.2%; 
padding-left: 70px; 
padding-right: 70px;
}
.nsticky {
    position: sticky !important;
    top: 0px;
    z-index: 30;
}

.page-title{
    width: calc(100% - 50px);
    padding: 15px 0;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}

#title-bar{
    font-size: 13px;
    color: #ffffff;
    background-color: #202020;
    padding: 10px 0 8px;
    width: 100%;
}

#page-name{
    font-size: 13px;
}

.page-description{
    font-size: 21px;
    color: #666;
    margin: 10px 0 30px 0;
    line-height: 1.4;
}

.imageandtext-image {
    float: left;
    margin-right: 12px;
    width: 83px;
}

.help-note {
    border: 2px solid #707070;
    border-radius: 4px;
    margin: 20px 0;
    padding: 10px 20px;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
}

a{
    color: #1473e6;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    line-height: 1em;
    margin: 40px 0 20px 0;
    padding: 20px 0 0 0;
    border-top: solid 1px #ddd;
}

.image-wrapper {
    display: inline-block;
    background: #f7f7f7;
    margin: 20px 0;
    padding: 16px;
    max-width: 100%;
}

div.image img {
    max-width: 100%;
    height: auto;
}

.to-helpx-image-resize img {
    overflow-x: auto;
}
img {
    max-width: 100%;
}

h2 + .header-description {
    margin-top: -6px;
}

.header-description {
    font-size: 21px;
    color: #666;
    margin: 10px 0;
    line-height: 1.4;
}
p {
    margin: 10px 0;
    overflow-wrap: break-word;
}

.accordion-container {
    width: 100%;
}

.accordion-item {
    margin: 8px 0;
}

h3.accordion-item-title {
    margin: 0;
}

.accordion-item-title {
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    padding: 5px 0px;
    font-weight: 600;
    cursor: pointer;
}
h3, div[class^="column-width-"] h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    margin: 22px 0 18px 0;
}

.accordion-item-content {
    display: none;
    padding-bottom: 5px;
    padding-left: 24px;
}

ol li {
    padding-left: 2px;
    margin: 6px 0;
}