extends ..\layouts\layout.pug
block styles
  link(rel="stylesheet" href="http://127.0.0.1:8000/css/download.css")

block content
    div(class="columns ")
        div(class="column is-4 is-offset-4 ")
            div(class="card")
                div(class="card-content _1D8wBDLGfR8zew75dIPrae")
                    img(class="image is-50x50" src="http://127.0.0.1:8000/images/logo_photo.png")
                    br
                    h2 <b> Install Photoshop </b>
                    br
                    p <strong>Help us provide you with the right experience and learning content.</strong> (all responses required.)
                    br
                    p(class="_1rnn8lqBATvfsoO2TJS7Pp") My skill level with Photoshop is:
                    div(class="select")
                        select
                            option Beginer
                            option Intermedium
                            option Advanced
                    p(class="_1rnn8lqBATvfsoO2TJS7Pp") I am a:
                    div(class="select")
                        select
                            option Developer
                            option Hobbyist op Personal User
                            option Marketing Professional
                            option Web, Mobile or UX Designer
                            option Student
                            option Teacher, Faculty or Staff
                            option Video Professional
                            option IT Professional
                            option Visual or Graphic Designer
                            option Professional Photografer
                            option Other Business Professional
                    p(class="_1rnn8lqBATvfsoO2TJS7Pp") I am downloading Photoshop for:
                    div(class="select")
                        select
                            option Myself only
                            option My organization or team
                    br
                    button(class="button is-rounded" disable) Continue        
 
        