extends ../layouts/layout-page.pug
block title 
    title Aprendizaje y asistencia de Adobe Photoshop
block styles
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/formacion_y_asistencia.css")

block content
    header 
        div(class="navbar navbar-FA navbar-space-FA" role="navigation" aria-label="main navigation")
                div(class="navbar-brand")
                    a(class="navbar-item" href="#")
                        img(src="http://127.0.0.1:8000/images/logo_photo.png" width="25" height="35")
                        span(class="navbar-item color-text-logo-FA") ADOBE PHOTOSHOP

                div(class="navbar-menu")
                    div(class="navbar-start")
                        a(class="navbar-item color-options-menu-FA") Aprendizaje y asistencia
                        a(class="navbar-item color-options-menu-FA") Introducción 
                        a(class="navbar-item color-options-menu-FA") Guía del usuario
                        a(class="navbar-item color-options-menu-FA") Tutoriales
                        a(class="navbar-item color-options-menu-FA") Prueba gratuita
                        div(class="navbar-item")
                                a(class="button-menu") Comprar ahora
    
        div(class="navbar-buscador-FA")
            div(class="columns container is-fluid")
                div(class="column")
                    p(class="texto-buscador-FA") Aprendizaje y Asistencia de Adobe Photoshop
                div(class="column")
                    div(class="field has-addons has-addons-right")
                        p(class="control")
                            input(class="input is-medium" type="text" placeholder="Buscar en Adobe Photoshop")
                        p(class="control")
                            button(class="button is-medium") 
                                i(class="fas fa-search")
        
        div(class="background-navbar-info-FA")
            p(class="texto-informes-FA") Infórmese sobre las 
                a(href="#") novedades de Photoshop
            

        //section(class="hero" style="background-color: #F8F8F8;")
            div(class="hero-body")
                div(class="container")
                h2(class="subtitle")
                    p(class="texto-informes-FA") Infórmese sobre las novedades de Photoshop.//

        div(class="columns container is-fluid" style="padding-top: 5%;")
            div(class="column")
                div(class="card cards-FA")
                    div(class="card-image")
                        img(src="http://127.0.0.1:8000/images/introduccion-FA.png" class="image-card-FA")
                    div(class="card-content")
                        div(class="media-content")
                            p(class="title is-4 texto-cards-FA") Introducción
                            p(class="subtitle is-6 texto-cards-FA") Descargue, busque ayuda sobre la suscripción y informate sobre los conceptos básicos.
            div(class="column")
               div(class="card cards-FA")
                    div(class="card-image")
                        img(src="http://127.0.0.1:8000/images/tutoriales-FA.png" class="image-card-FA")
                    div(class="card-content")
                        div(class="media-content")
                            p(class="title is-4 texto-cards-FA") Tutoriales
                            p(class="subtitle is-6 texto-cards-FA") Acceda a tutoriales para usuarios nuevos y expertos para ampliar conocimientos.
            div(class="column")
                div(class="card cards-FA")
                    div(class="card-image")
                        img(src="http://127.0.0.1:8000/images/guia-usuario-FA.png" class="image-card-FA")
                    div(class="card-content")
                        div(class="media-content")
                            p(class="title is-4 texto-cards-FA") Guía del usuario
                            p(class="subtitle is-6 texto-cards-FA") Obtenga respuestas básicas e instrucciones paso a paso.

        div(class="container is-fluid")
            hr            
            p(class="textos-titulos") Solución de problemas y ayuda
            div(class="columns is-desktop")
                 div(class="column is-5")
                    p(style="text-align: center; font-size: 15px;") ¿Necesita más ayuda? Descubra más soluciones de descarga e instalación.
                 div(class="column is-7")
                    div(class="background-ayuda-FA")
                        p(style="text-align: center; font-size: 15px;") ¿Necesita más ayuda? Descubra más 
                            a(href="#") soluciones de descarga e instalación.
        
        div(class="container is-fluid")
            hr
            p(class="textos-titulos") Comunidad
            div(class="columns is-desktop")
                div(class="column is-4")
                    p(style="font-size:20px; color: #787878; margin-top: 2%" class="space-li") Únase a la conversación.
                    a(href="#") Foro de la comunidad de Photoshop
                div(class="column is-4")
                    p(class="space-li" style="font-weight: 500; color: black") Foros secundarios populares de Photoshop
                    ul 
                        li(class="space-li") 
                            a(href="#") Preguntas frecuentes de Photoshop CS6
                        li 
                            a(href="#") Photoshop para principiantes
                div(class="column is-4")
                    ul 
                        li(class="space-li") 
                            a(href="#") Scripts de Photoshop
                        li 
                            a(href="#") Opciones de exportación
                   
        div(class="container is-fluid")
            hr
            p(class="textos-titulos" style="margin-bottom: 30px;") Aplicaciones y servicios relacionados 
            div(class="columns is-desktop")
                div(class="column is-2" align="center")
                    ul(class="contenedor") 
                        li(class="producto-container")
                            img(src="http://127.0.0.1:8000/images/icono_creative_adobe.jpg" class="tamaño-imagen-icons")
                            p(class="texto-icons") Creative Cloud   
                            
                div(class="column is-5" align="center")
                    ul(class="contenedor") 
                        li(class="producto-container")
                            img(src="http://127.0.0.1:8000/images/icono_stock.png" class="tamaño-imagen-icons")
                            p(class="texto-icons") Adobe Stock
                        li(class="producto-container")
                            img(src="http://127.0.0.1:8000/images/icono_ilustrator.png" class="tamaño-imagen-icons")
                            p(class="texto-icons") Adobe Illustrator 
                        li(class="producto-container")
                            img(src="http://127.0.0.1:8000/images/icono_indesign.jpg" class="tamaño-imagen-icons")
                            p(class="texto-icons") Adobe inDesign
                        li(class="producto-container")
                            img(src="http://127.0.0.1:8000/images/adobe_lightroom.png" class="tamaño-imagen-icons")
                            p(class="texto-icons") Adobe Photoshop Lightroom
                div(class="column is-4" align="center")
                    ul(class="contenedor") 
                        li(class="producto-container")
                            img(src="http://127.0.0.1:8000/images/icono_capture.jpg" class="tamaño-imagen-icons")
                            p(class="texto-icons") Adobe Capture
                        li(class="producto-container")
                            img(src="http://127.0.0.1:8000/images/icono_photoshop_sketch.jpg" class="tamaño-imagen-icons")
                            p(class="texto-icons") Adobe Photoshop Sketch 
                        li(class="producto-container")
                            img(src="http://127.0.0.1:8000/images/icono_photoshop_fix.jpg" class="tamaño-imagen-icons")
                            p(class="texto-icons") Adobe Photoshop Fix
                div(class="column is-1")

        div(class="footer-FA")  
            div(class="container is-fluid")
                P ADOBE PHOTOSHOP
                div(class="columns")  
                    div(class="column is-3")
                        ul
                            li 
                                a(href="#") Ver todas las aplicaciones
                            li  
                                p(class="texto-sub-footer-FA") Aprendizaje y Asistencia
                            li 
                                a(href="#") Introducción
                            li 
                                a(href="#") Tutoriales
                            li 
                                a(href="#") Guía del usuario
                    div(class="column is-3")
                        p Pregunte a la comunidad
                        p(class="texto-sub-footer-FA") Publique sus preguntas para que le respondan expertos en la materia.
                        a(href="#") Preguntar ahora
                    div(class="column is-2")
                        p Contacto
                        p(class="texto-sub-footer-FA") Ayuda en directo con uno de nuestros consejeros
                        a(href="#") Comenzar
                    div(class="column is-4")
                        a(href="#") Volver arriba
                
                            
          
               