<!DOCTYPE html>
html(lang="en")

    head
    img(class="img-responsive" href="http://127.0.0.1:8000/images/mount.jpg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/styles.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css.map")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    link(rel="shortcut icon" href="http://127.0.0.1:8000/images/icon.png")
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/styles.css")
    
    body
        section(class="hero is-big is-fullheight has-bg-img")
        div(class="hero-head")
          div(class="container level-right")
            div(class="box box-padding")
              div(class="container is-fluid")
                br
                br
                p(class="title") Inicio de Sesión
                p<small>¿Eres un nuevo usuario? <a href="">Crear una cuenta<a><small>
                br
                div(class="field")
                  label(class="label") <small><small><small>Direccion de correo electrónico<small><small><small>
                  div(class="control")
                    input(class="input no-border" type="text")
                br
                div(class="button is-pulled-right is-rounded is-gg") Continuar
                br
                div(class="is-divider" data-content="O")
                











        script(src="http://127.0.0.1:8000/css/styles.css")
        script(src="https://kit.fontawesome.com/2c11958d77.js" crossorigin="anonymous")
        script(src="http://127.0.0.1:8000/js/script.js")

