<<<<<<< HEAD
html(lang="en")
  block title 
    title Adobe ID

    head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/styles.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css.map")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    link(rel="shortcut icon" href="http://127.0.0.1:8000/images/icon.png")
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/styles.css")
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/login.css")
    
    body
    section(class="hero is-fullheight is-mobile img-responsive blan")
      div(class="hero-body is-mobile") 
        div(class="container is-mobile")
          div(class="columns is-desktop")
            div(class="column is-half is-6-mobile is-3-desktop is-6-tablet is-offset-0-tablet is-offset-0-mobile is-offset-1 hh non")
              div(class="hero")
                div(class="container c-h")
                  div(class="hero-body")
                    div(class="hero is-mobile m-r")
                      div(class="hero-head")
                        article(class="media")
                          figure(class="image is-32x32 media-left")
                            img(src="http://127.0.0.1:8000/images/Adobe.png")
                          div(class="media-content")
                            div(class="content")
                              p(class="c-m") Adobe
                      div(clas="hero-body")
                        p(class="c-w ") Inicia sesión o crea una cuenta

            div(class="column is-5 is-mobile is-offset-2 is-offset-0-mobile is-fullheight-mobile is-3-mobile")
              div(class="container cont")
                div(class="box")
                  div(class="container is-fluid")
                    div(class="columns is-mobile")
                      div(class="column is-full is-half-mobile")  
                        div(class="row is-full m-t" class="title") Inicio de Sesión
                        div(class="row is-full m-m") ¿Eres un nuevo usuario? <a href=""> Crear una cuenta<a>
                        div(class="field")
                        label(class="label") 
                          div(class="row is-full m-s") Dirección de correo electrónico
                          div(class="control row is-full")
                            input(class="input no-border" type="text")
                        div(class="row is full")
                        div(class="button is-pulled-right is-rounded is-gg") Continuar
                    hr 
                    div(class="columns")
                     div(class="column")
                      dic(class="container text-is-centered")
                        div(class="row is-full")
                          a(class="button is-google is-rounded is-medium is-fullwidth b-f")
				  		              span(class="icon")
					  		              i(class="fab fa-google")
						                span Continuar con Google
                    div(class="columns")
                      div(class="column")
                        a(class="button is-facebook is-rounded is-fullwidth is-medium b-f")
						              span(class="icon")
							              i(class="fab fa-facebook")
						              span Continuar con Facebook


      
                











        script(src="http://127.0.0.1:8000/css/styles.css")
        script(src="https://kit.fontawesome.com/2c11958d77.js" crossorigin="anonymous")
        script(src="http://127.0.0.1:8000/js/script.js")

=======
extends ../layouts/layout.pug
block title 
  title Adobe ID
block styles
  link(rel="stylesheet" href="http://127.0.0.1:8000/css/login.css")

block content
  section(class="hero is-fullheight is-mobile img-responsive")
    div(class="hero-body is-mobile") 
      div(class="container is-mobile")
        div(class="columns is-desktop")
          div(class="column is-half is-6-mobile is-3-desktop is-6-tablet is-offset-0-tablet is-offset-0-mobile is-offset-1 hh")
            div(class="hero")
              div(class="container c-h")
                div(class="hero-body")
                  div(class="hero is-mobile m-r")
                    div(class="hero-head")
                      article(class="media")
                        figure(class="image is-32x32 media-left")
                          img(src="http://127.0.0.1:8000/images/Adobe.png")
                        div(class="media-content")
                          div(class="content")
                            p(class="c-m") Adobe
                    div(clas="hero-body")
                      p(class="c-w ") Inicia sesión o crea una cuenta

          div(class="column is-5 is-mobile is-offset-2 is-offset-0-mobile is-3-mobile")
            div(class="container")
              div(class="box")
                div(class="container is-fluid ")
                  div(class="columns is-mobile")
                    div(class="column is-full")  
                      div(class="row is-full m-t" class="title") Inicio de Sesión
                      div(class="row is-full m-m") ¿Eres un nuevo usuario? <a href=""> Crear una cuenta<a>
                      div(class="field")
                      label(class="label") 
                        div(class="row is-full m-s") Dirección de correo electrónico
                        div(class="control row is-full")
                          input(class="input no-border" type="text")
                      div(class="row is full")
                      div(class="button is-pulled-right is-rounded is-gg") Continuar
                  hr 
                  div(class="columns")
                  div(class="column")
                    div(class="container text-is-centered")
                      div(class="row is-full")
                        a(class="button is-google is-rounded is-medium is-fullwidth")
                          span(class="icon")
                            i(class="fab fa-google")
                          span(class="b-f") Continuar con Google
                  div(class="columns")
                    div(class="column")
                      a(class="button is-facebook is-rounded is-fullwidth is-medium b-f")
                        span(class="icon")
                          i(class="fab fa-facebook")
                        span Continuar con Facebook

  
>>>>>>> 78b22b69b53aa4dd895049d59d4aceb7c4d5fa32
