extends ../layouts/layout-page.pug
block title 
    title Comprar Adobe Photoshop | El mejor software de edición de fotos, imágenes y diseño
block styles
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/main.css")
    
block content
    header(class="is-hidden-mobile") 
        div(class="navbar menu-space-index menu-index" role="navigation" aria-label="main navigation")
                div(class="navbar-brand")
                    a(class="navbar-item" href="#")
                        img(src="http://127.0.0.1:8000/images/logo_photo.png" width="25" height="35")
                        span(class="navbar-item color-text-logo") ADOBE PHOTOSHOP

                div(id="navbarBasicExample" class="navbar-menu")
                    div(class="navbar-start")
                        a(class="navbar-item color-options-menu" href="/whats-new") Novedades
                        a(class="navbar-item color-options-menu" href="/formacion") Formación y asistencia técnica
                        a(class="navbar-item color-options-menu") Versión de prueba gratuita
                        div(class="navbar-item")
                                a(class="button-menu") Comprar ahora
    
    header(class="is-hidden-tablet")
        nav(class="navbar div-azul-mobile" role="navigation" aria-label="main navigation")
            div(class="navbar-brand")
                a(class="navbar-item" href="#")
                    img(src="http://127.0.0.1:8000/images/logo_photo.png" width="25" height="35")
                    span(class="navbar-item color-text-logo") ADOBE PHOTOSHOP


                a(role="button" class="navbar-burger burger button-mobile-menu" id="button-mobile"  aria-label="menu" aria-expanded="false" data-target="mobile-menu")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
            
            div(id="mobile-menu" class="navbar-menu")
                div(class="navbar-start spaces")
                    div(class="navbar-item has-dropdown is-hoverable")
                        a(class="navbar-link is-arrowless menu-section") Novedades
                        a(class="navbar-link is-arrowless menu-section") Formación y asitencia
                        a(class="navbar-link is-arrowless menu-section") Versión y prueba gratuita
                        div(class="navbar-item")
                            button(class="button is-info is-rounded") Comprar ahora
                        

    section 
        div(class="fondo")
            h1(class="title-index")
                b Rediseña la realidad.
            p(class="text-index-1").
                Si puedes imaginarlo, puedes hacerlo gracias a Photoshop, el mejor software de diseño gráfico y tratamiento de imágenes 
                del mundo. Puedes crear y mejora fotografías, ilustraciones e imágenes en 3D. Diseña sitios web y aplicaciones para dispositivos móviles. Edita videos, simula cuadros reales y mucho más. Todo lo que necesitas para llevar a cabo cualquier idea.
            div(class="fondo-1")
                button(class="button is-primary boton-redondo modal-button" data-target="#video" aria-haspopup="true"): i(class="fas fa-play")
                div(class="modal" id="video")
                    div(class="modal-background")
                    div(class="modal-content" style="width:70%; height:90%;")
                        div(class="box")
                           figure(class="image is-16by9")
                                iframe(class="has-ratio" width="640" height="360" src="http://proyecto-disenoweb.com:8000/videos/photoshop.mp4" frameborder="0" allowfullscreen)
                        button(class="modal-close is-large" aria-label="close")

            h1(class="title-index-1") Consigue Photoshop como parte de Adobe Creative Cloud.
            button(class="button is-info is-rounded button-elegir") Elegir un plan
            
        
        div(class="fondo-2")
            h1(class="title-content-1") El mundo creativo funciona con Photoshop
            p(class="text-content-1") Millones de diseñadores, fotógrafos y artistas de todo el mundo emplean Photoshop para hacer posible lo imposible.

            div(class="columns is-desktop container is-fluid")
                div(class="column" style="text-align: center;")
                    img(src="http://127.0.0.1:8000/images/bees.jpg")
                    p(class="texto-fotos") "Packaging" (Embalaje), de Angelina Pischikova
                
                div(class="column") 
                    div(class="space-1")
                        h1(class="title-content-2") Diseñado para que cualquiera pueda diseñar cualquier cosa.
                        p(class="text-content-2").
                            De afiches a empaquetado, de banners básicos a sitios web magníficos, 
                            de logotipos inolvidables a iconos llamativos: 
                            Photoshop hace que el mundo creativo siga volteando. 
                            Hasta los principiantes pueden crear cosas asombrosas gracias a las herramientas intuitivas y 
                            las plantillas que son tan fáciles de usar.

            div(class="columns is-desktop container is-fluid" style="margin-top: 9%;")
                div(class="column is-hidden-mobile" style="text-align: center;") 
                    div(class="space-1")
                        h1(class="title-content-2") No solo hagas fotos, haz algo sorprendente.
                        p(class="text-content-2").
                            Nuestro software de diseño gráfico ofrece un conjunto completo de herramientas de fotografía profesional 
                            para convertir tus instantáneas en obras de arte, 
                            independientemente de si pretendes hacer ediciones corrientes o transformaciones totales. Ajusta, recorta, 
                            elimina objetos, retoca y repara fotografías antiguas. 
                            Juega con los colores, efectos y mucho más para convertir lo corriente en algo extraordinario.

                div(class="column is-hidden-mobile")
                    img(src="http://127.0.0.1:8000/images/sky.jpg")
                    p(class="texto-fotos") "All above the sky" (Sobrevolando el cielo), de Erik 
                    
                
                div(class="column is-hidden-tablet")
                    img(src="http://127.0.0.1:8000/images/sky.jpg")
                    p(class="texto-fotos") "All above the sky" (Sobrevolando el cielo), de Erik Johansson

                div(class="column is-hidden-tablet" style="text-align: center;") 
                    div(class="space-1")
                        h1(class="title-content-2") No solo hagas fotos, haz algo sorprendente.
                        p(class="text-content-2").
                            Nuestro software de diseño gráfico ofrece un conjunto completo de herramientas de fotografía profesional 
                            para convertir tus instantáneas en obras de arte, 
                            independientemente de si pretendes hacer ediciones corrientes o transformaciones totales. Ajusta, recorta, 
                            elimina objetos, retoca y repara fotografías antiguas. 
                            Juega con los colores, efectos y mucho más para convertir lo corriente en algo extraordinario.


            div(class="columns is-desktop container is-fluid" style="margin-top: 9%; padding-bottom: 9%;")
                div(class="column")
                    img(src="http://127.0.0.1:8000/images/pincel.jpg")
                    p(class="texto-fotos") "Hand Lettering"(Letras a mano), de Adrian Meadows
                
                div(class="column") 
                   div(class="space-1")
                    h1(class="title-content-2") El poder de un pincel.
                    p(class="text-content-2").
                        Dibuja y pinta todo lo que se te ocurra con herramientas especialmente diseñadas para ilustradores. 
                        Pinta en patrones perfectamente simétricos. 
                        Consigue aspectos de gran calidad con trazos suaves. Además, crea con lápices, 
                        bolígrafos, marcadores y pinceles que parecen de verdad, 
                        incluidos más de 1000 del célebre ilustrador Kyle T. Webster.

        div(class="ipad-fondo")
            div(class="columns")
                div(class="column is-one-third" style="text-align: center;")
                    p(class="ipad-text") No es Photoshop para iPad.
                    p(class="ipad-text") Es Photoshop en iPad.
                    div
                        p(class="ipad-text-3").
                            Emplea capas, pinceles y otras herramientas de 
                            Photoshop para tus creaciones 
                            allá donde te llegue la inspiración. Próximamente en 2019.
                        a(href="#" class="enlace") Más información ›
        
        div(class="fondo-gris")
            div(style="text-align: center;")
                h1(class="title-content-3") Descubre las nuevas funciones.
                p(class="text-content-3").
                        Photoshop nunca deja de mejorar gracias a las nuevas funciones que se publican de manera regular. 
                        Y con tu pago a Creative Cloud, las recibirás en cuanto vean la luz. 
                        Estas son algunas de las últimas actualizaciones.     
                a(class="options") Ver todas las nuevas funciones ›

            div(class="space-2")
                div(class="columns")
                    div(class="column space-3")
                        div(class="div-image")
                            img(src="http://127.0.0.1:8000/images/cabezas.jpg" class="size-image")
                        div(style="margin-top: 6%;")
                            p(class="p-title") Modo de simetría
                            p(class="p-text").
                                Pinta en perfecta simetría con un nuevo modo que te permita definir los ejes y 
                                elegir patrones predefinidos, como circular, radial, espiral y mandala.

                    div(class="column space-4")
                        div(class="div-image-2")
                            img(src="http://127.0.0.1:8000/images/mariposa.jpg" class="size-image")
                        div(style="margin-top: 6%;")
                            p(class="p-title-2") Nueva experiencia de relleno según el contenido
                            p(class="p-text-2").
                                Un espacio de trabajo específico que te permite seleccionar los pixeles exactos para los rellenos, 
                                y con Adobe Sensei podrás voltearlos, escalarlos y duplicarlos fácilmente.

            div(class="space-5")
                div(class="columns")
                    div(class="column space-3")
                        div(class="div-image")
                            img(src="http://127.0.0.1:8000/images/za.jpg" class="size-image")
                        div(style="margin-top: 6%;")
                            p(class="p-title") Herramienta Marco
                            p(class="p-text").
                               Puedes crear marcos de texto o forma para usarlos como marcadores de posiciones en tu lienzo. 
                               Arrastra y suelta imágenes para rellenar los marcos y ellas solas se ajustarán a ellos.

                    div(class="column space-4")
                        div(class="div-image-2")
                            img(src="http://127.0.0.1:8000/images/options.jpg" class="size-image")
                        div(style="margin-top: 6%;")
                            p(class="p-title-2") Mejoras en la experiencia de usuario
                            p(class="p-text-2").
                               Entre las mejoras más recientes, se incluyen la función de deshacer varias acciones, 
                               la transformación proporcional predeterminada de capas de pixeles y 
                               tipos de forma y una manera más rápida de recortar, 
                               transformar e introducir texto mediante la confirmación automática.

        div(style="background-color: black; text-align:center;")
            h1(class="title-content-2") Comenzar a trabajar es rápido y sencillo
            p(class="text-4").
                Nuestros tutoriales detallados lo abarcan todo: desde las técnicas más básicas hasta las más avanzadas.
            a(href="#" class="enlace-2") Más información ›
            div 
                img(src="http://127.0.0.1:8000/images/things.jpg")
            div(class="fondo-house")
                h1(class="big-text") Las 3D se hacen realidad.
                p(class="p-text-info") La suite de Substance para crear texturas y materiales hará que tus creaciones en 3D queden perfectas.
                div(style="margin-top: 1%;")
                    a(class="button-information") Más información
        div(class="fondo-azul") 
            h1(class="title-content-4") Encuentra el plan perfecto para ti
            div(class="columns" style="text-align: center;")
                div(class="column is-desktop")
                    img(src="http://127.0.0.1:8000/images/database.svg" width="48px") 
                    p(class="p-title-3") Plan fotográfico
                    p(class="p-text-3").
                        Incluye Lightroom, 
                        1 TB de almacenamiento en la nube, Lightroom Classic y Photoshop.
                    div(class="espacio-compra")
                        a(class="enlace") Más información ›
                        span(style="color: white;")  |   
                        a(class="enlace") Comprar ahora ›

                div(class="column is-desktop")
                    img(src="http://127.0.0.1:8000/images/photo.svg" width="48px") 
                    p(class="p-title-3") Aplicación única de Adobe Photoshop
                    p(class="p-text-3").
                        Consigue Photoshop como parte de Creative Cloud.
                    div(class="espacio-compra")
                        a(class="enlace") Comprar ahora ›
                div(class="column is-desktop")
                    img(src="http://127.0.0.1:8000/images/book.png" width="48px") 
                    p(class="p-title-3") Estudiantes y profesores
                    p(class="p-text-3").
                        Ahorra más del 60 % en la colección completa de aplicaciones de Creative Cloud. 
                    div(class="espacio-compra")
                        a(class="enlace") Más información ›
                        span(style="color: white;")  |   
                        a(class="enlace") Comprar ahora ›
                div(class="column is-desktop")
                    img(src="http://127.0.0.1:8000/images/creative-logo.svg" width="48px") 
                    p(class="p-title-3") Todas las aplicaciones de Creative Cloud
                    p(class="p-text-3").
                        Consigue Photoshop y la colección entera de aplicaciones creativas.
                    div(class="espacio-compra")
                        a(class="enlace") Más información ›
                        span(style="color: white;")  |   
                        a(class="enlace") Comprar ahora ›

          
            button(class="button is-info is-rounded button-elegir") Elegir un plan

        div(class="fondo-negro-2")
            img(src="http://127.0.0.1:8000/images/logocc.png", alt="")
            h1(class="big-text-2") Creative Cloud
            p(class="text-4").
                Fotografía. Video. Diseño. UX. Si puedes soñarlo, puedes hacerlo con Creative Cloud.
            a(href="#" class="enlace-2") Más información ›
            div(class="espacio-3")              
                a(class="telefono") Comprar por teléfono: 
                a(class="phone-number") 800 925 0339
        div(class="fondo-negro-4")
            span(style="margin-right: 1%;")
            a(class="ultimo-enlace") Adobe Cretive Cloud
            span(style="margin-left: 1%; margin-right: 1%;") ›
            a(class="ultimo-enlace") Adobe Photoshop
                


block script
    script(src="http://127.0.0.1:8000/js/main.js")
               
