div(class="footer")
    div(class="contain")
        div(class="columns")
            div(class="column")
                div(class="col")
                    h1 Productos 
                    ul
                        li Creative Cloud 
                        li Experience Cloud 
                        li Document Cloud 
                        li Familia Elements 2020 
                        li Ofertas especiales 
                        li Ver todos los productos 

            div(class="column")
                div(class="col")
                    h1 Blogs y comunidad
                    ul
                        li Blog de Adobe 
                        li Create Magazine 
                        li Behance 
                        li 99u 
                        li CMO.com 
                        li Adobe I/O 
                        li Ver todo 

                    a(href="#" style="margin-right: 5%;"): i(class="fab fa-facebook-square icon-color")
                    a(href="#" style="margin-right: 5%;"): i(class="fab fa-twitter icon-color")
                    a(href="#" style="margin-right: 5%;"): i(class="fab fa-linkedin icon-color")
                    a(href="#" style="margin-right: 5%;"): i(class="fab fa-instagram icon-color")
            div(class="column")
                div(class="col")
                    h1 Asistencia técnica
                    ul
                        li Centro de Ayuda 
                        li Foros de la comunidad 
                        li Asistencia técnica de empresas 
                        li Descargar e instalar 
            div(class="column")
                div(class="col")
                    h1 Adobe
                    ul
                        li Acerca de los niveles de descuento de EA 2 
                        li Responsabilidad corporativa 
                        li Relaciones con los inversores 
                        li Cadena de suministro 
                        li Trust Center 
                        li Eventos 
                        li Empleo 
                        li Sala de prensa 
                        li Integridad 
        div(class="clearfix")
        a(style="float: left")
            i(class="fas fa-globe icon-color")
            span(class="world-color")   Cambiar región
        p(style="float: right;" class="copyright") Copyright © 2019 Adobe. All rights reserved. / <a href="#" class="copyright">Privacidad</a> / <a href="#" class="copyright">Condiciones de uso</a> / <a href="#" class="copyright">Cookies</a> / <a href="#" class="copyright">Opciones de publicidad</a>
