extends ../layouts/layout.pug
block styles
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/layout-info.css")

block content
    div(class="footer-FA")  
        div(class="container is-fluid")
            P ADOBE PHOTOSHOP
            div(class="columns")  
                div(class="column is-3")
                    ul
                        li 
                            a(href="#") Ver todas las aplicaciones
                        li  
                            p(class="texto-sub-footer-FA") Aprendizaje y Asistencia
                        li 
                            a(href="#") Introducción
                        li 
                            a(href="#") Tutoriales
                        li 
                            a(href="#") Guía del usuario
                div(class="column is-3")
                    p Pregunte a la comunidad
                    p(class="texto-sub-footer-FA") Publique sus preguntas para que le respondan expertos en la materia.
                    a(href="#") Preguntar ahora
                div(class="column is-2")
                    p Contacto
                    p(class="texto-sub-footer-FA") Ayuda en directo con uno de nuestros consejeros
                    a(href="#") Comenzar
                div(class="column is-4")
                    a(href="#") Volver arriba