<!DOCTYPE html>
html(lang="en")
    head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/styles.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css.map")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    link(rel="shortcut icon" href="http://127.0.0.1:8000/images/icon.png")
    link(rel="stylesheet" href="http://127.0.0.1:8000/css/styles.css")
    
    body
        include navbar.pug

    
        block content
           div Hola
        
        include footer.pug

        script(src="http://127.0.0.1:8000/css/styles.css")
        script(src="https://kit.fontawesome.com/2c11958d77.js" crossorigin="anonymous")


































        script(src="http://127.0.0.1:8000/js/script.js")


        