nav(class="navbar menu-space" role="navigation" aria-label="main navigation")
    div(class="navbar-brand")
        a(class="navbar-item" href="#")
            img(src="http://127.0.0.1:8000/images/logo.png" width="90" height="120")


        a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")


    div(id="navbarBasicExample" class="navbar-menu")
        div(class="navbar-start spaces")
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-arrowless menu-section") Creatividad y diseño

                div(class="navbar-dropdown")
                    div(class="navbar-item plans") Planes de Creative Cloud

                    a(class="navbar-item")
                        span
                            p(class="title-p")  ¿Qué es Creative Cloud?
                            p(class="subtitle") Apps y servicios para todos


                    a(class="navbar-item")
                        span
                            p(class="title-p") Estudiantes y profesores
                            p(class="subtitle") Ahorra más de un 60% en Creative Cloud


                    a(class="navbar-item")
                        span
                            p(class="title-p") Grandes empresas
                            p(class="subtitle") Soluciones para grandes organizaciones


                    a(class="navbar-item")
                        span
                            p(class="title-p") Escuelas y universidades
                            p(class="subtitle") Licencias y administración sencillas


                    div(class="navbar-item")
                        a(class="button-menu") Ver planes y precios

                    hr(class="navbar-divider")
                    div(class="navbar-item plans") Productos destacados

                    a(class="navbar-item")
                        span
                            p(class="title-p") Photoshop
                            p(class="subtitle") Diseño y edición de imagenes


                    a(class="navbar-item")
                        span
                            p(class="title-p") Lightroom
                            p(class="subtitle") El servicio de forografía en la nube


                    a(class="navbar-item")
                        span
                            p(class="title-p") Illustrator
                            p(class="subtitle") Gráficos vectoriales e ilustración


                    a(class="navbar-item")
                        span
                            p(class="title-p") Ver todos los productos

            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-arrowless menu-section") Marketing y análisis

                div(class="navbar-dropdown")
                    div(class="navbar-item plans") Productos y soluciones

                    a(class="navbar-item")
                        span
                            p(class="title-p") ¿Qué es Experience Cloud?
                            p(class="subtitle") Soluciones de experiencias digitales


                    a(class="navbar-item")
                        span
                            p(class="title-p") Éxito del cliente guiado
                            p(class="subtitle") Éxito del cliente guiado


                    a(class="navbar-item")
                        span
                            p(class="title-p") Plataforma  para la gestión de gastos
                            p(class="subtitle") Medidas sobre las audiencias


                    a(class="navbar-item")
                        span
                            p(class="title-p") Recursos para TI
                            p(class="subtitle") Licencias y administración sencillas


                    a(class="navbar-item")
                        span
                            p(class="title-p") Servicios y asistencia técnica
                            p(class="subtitle") Consulta, información, atención al cliente


                    hr(class="navbar-divider")
                    div(class="navbar-item plans") Productos destacados

                    a(class="navbar-item")
                        span
                            p(class="title-p") Advertising Cloud
                            p(class="subtitle") Plataforma publicitaria multicanal


                    a(class="navbar-item")
                        span
                            p(class="title-p") Analytics
                            p(class="subtitle") Análisis en tiempo real


                    a(class="navbar-item")
                        span
                            p(class="title-p") Experience Manager
                            p(class="subtitle") Solución de gestión de contenido




            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-arrowless menu-section") PDF y firmas electrónicas

                div(class="navbar-dropdown")
                    div(class="navbar-item plans") Productos destacados

                    a(class="navbar-item")
                        span
                            p(class="title-p") Adobe Acrobat
                            p(class="subtitle") La solución PDF definitiva


                    a(class="navbar-item")
                        span
                            p(class="title-p") Adobe Sign
                            p(class="subtitle") La mejor solución de firma electrónica del mundo


                    a(class="navbar-item")
                        span
                            p(class="title-p") PDF pack
                            p(class="subtitle") Herramientas PDF para uso diario


                    a(class="navbar-item")
                        span
                            p(class="title-p") Export PDF
                            p(class="subtitle") Convierte archivos PDF a Word o Excel


                    div(class="navbar-item")
                        a(class="button-menu") Planes y precios de Acrobat


                    hr(class="navbar-divider")
                    div(class="navbar-item plans") Resumen

                    a(class="navbar-item")
                        span
                            p(class="title-p") Empresas
                            p(class="subtitle") Soluciones de gestión de documentos



                    a(class="navbar-item")
                        span
                            p(class="title-p") Centro de confianza
                            p(class="subtitle") Operaciones de servicios seguras


                    a(class="navbar-item")
                        span
                            p(class="title-p") Información y asistencia técnica
                            p(class="subtitle") Tutoriales, guías y foros de la comunidad




            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-arrowless menu-section") Soluciones empresariales

                div(class="navbar-dropdown")
                    a(class="navbar-item")
                        span
                            p(class="title-p") Grandes empresas
                            p(class="subtitle") Experiencias y transformación digitales


                    a(class="navbar-item")
                        span
                            p(class="title-p") Equipos
                            p(class="subtitle") Colaboración en aplicaciones y servicios


                    a(class="navbar-item")
                        span
                            p(class="title-p") Insights
                            p(class="subtitle") Liderazgo intelectual para empresas


                    a(class="navbar-item")
                        span
                            p(class="title-p") Adobe Cloud Plataforma
                            p(class="subtitle") Base de experiencias


                    a(class="navbar-item")
                        span
                            p(class="title-p") Aprendizaje digital
                            p(class="subtitle") experiencias de aprendizaje online


                    hr(class="navbar-divider")
                    a(class="navbar-item")
                        span
                            p(class="title-p") Privacidad, confianza y RGPD
                            p(class="subtitle") Nuestros procesos y políticas


                    a(class="navbar-item")
                        span
                            p(class="title-p") Muestras de clientes
                            p(class="subtitle") Comentarios de clientes destacados


                    a(class="navbar-item")
                        span
                            p(class="title-p") Adobe Exchange
                            p(class="subtitle") Aplicaciones, extensiones e integración




            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-arrowless menu-section") Asistencia técnica

                div(class="navbar-dropdown")
                    a(class="navbar-item")
                        span
                            p(class="title-p") Centro de ayuda
                            p(class="subtitle") Soluciones de problemas y preguntas


                    a(class="navbar-item")
                        span
                            p(class="title-p") Foros de la comunidad
                            p(class="subtitle") Colaboración en aplicaciones y servicios


                    a(class="navbar-item")
                        span
                            p(class="title-p") Asistencia técnica de empresas
                            p(class="subtitle") Ayuda dedicada para grandes empresas


                    a(class="navbar-item")
                        span
                            p(class="title-p") Descargar e instalar
                            p(class="subtitle") Empieza ya


        div(class="navbar-end")
            div(class="navbar-item")
                a(class="navbar-item menu-section")
                    i(class="fas fa-search")

                a(class="navbar-item menu-section" href="/login") Iniciar Sesión

